@charset "UTF-8";
@font-face {
  font-family: "Roboto-Regular", sans-serif;
  src: url(./Roboto/Roboto-Regular.ttf);
}
/*Mapa*/
.redes-facebook {
  color: blue;
}

.redes-instagram {
  color: #a73272;
}

.redes-twitter {
  color: #0c78c0;
}

.redes-youtube {
  color: red;
}

h1 {
  color: #12293d;
  padding: 35px 35px;
}

h2 {
  color: #12293d;
}

h3 {
  color: #12293d;
}

section {
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}

article {
  padding: 25px 25px;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  padding: 10px;
}

#padForm {
  padding-top: 30px;
}

ul li {
  padding: 10px;
}

/*DESKTOP*/
* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Roboto-Regular", sans-serif;
}

a {
  color: white;
}

.centrarTexto {
  text-align: center;
}

.sinSubrayado {
  text-decoration: none;
}

.links {
  color: #0c71ca;
}

a:hover {
  color: #12293d;
  background-color: white;
}

.boton, .boton-nuevo {
  color: white;
  background-color: #0c71ca;
  transition: all 1s;
}

.boton:hover, .boton-nuevo:hover {
  border: #12293d solid 10px;
}

.imagenFondo {
  background-image: linear-gradient(#12293d, white);
  padding: 0px;
}

.tituloAnimado {
  animation-name: tituloAnimado;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes tituloAnimado {
  from {
    transform: translate(-200px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
/*EXTEND*/
.boton-nuevo {
  background-color: #070731;
}

/*Mixin*/
.facebook {
  padding: 5px;
  margin: 5px;
}

.instagram {
  padding: 5px;
  margin: 5px;
}

.twitter {
  padding: 5px;
  margin: 5px;
}

.youtube {
  padding: 5px;
  margin: 5px;
}

/*ACLARACIÓN: se que este mixin no sirve de mucho ya que son todos los mismos valores 
  pero es a modo de ejemplo porque realmente no necesito en mi proyecto uno por el momento*/
.listaCont {
  text-decoration: none;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
  padding: 0px;
}

.gridsUno {
  display: grid;
  grid-template-areas: "tituloH1 tituloH1" "listaDeContinentes listaDeContinentes" "articulosDeInteres articulosDeInteres" "articulosUno articulosDos" "tituloRegistro tituloRegistro" "formulario formulario";
  grid-template-columns: 50% 50%;
}

#tituloH1 {
  display: grid;
  grid-area: tituloH1;
}

#listaDeContinentes {
  display: grid;
  grid-area: listaDeContinentes;
}

#articulosDeInteres {
  display: grid;
  grid-area: articulosDeInteres;
}

#articulosUno {
  display: grid;
  grid-area: articulosUno;
}

#articulosDos {
  display: grid;
  grid-area: articulosDos;
}

#tituloRegistro {
  display: grid;
  grid-area: tituloRegistro;
  text-align: center;
}

#formulario {
  display: grid;
  grid-area: formulario;
  padding: 0px;
}

/*-------------------TABLET-----------------------*/
@media (min-width: 481px) and (max-width: 1023px) {
  article {
    padding: 15px 15px;
  }

  .imagenesTamaño {
    width: 95%;
  }
}
/*------------------SMARTPHONE--------------------*/
@media (max-width: 480px) {
  article {
    padding: 15px 15px;
  }

  .gridsUno {
    display: grid;
    grid-template-areas: "tituloH1" "listaDeContinentes" "articulosDeInteres" "articulosUno" "articulosDos" "tituloRegistro" "formulario";
    grid-template-columns: 100%;
  }

  #tituloH1 {
    display: grid;
    grid-area: tituloH1;
  }

  #listaDeContinentes {
    display: grid;
    grid-area: listaDeContinentes;
  }

  #articulosDeInteres {
    display: grid;
    grid-area: articulosDeInteres;
  }

  #articulosUno {
    display: grid;
    grid-area: articulosUno;
  }

  #articulosDos {
    display: grid;
    grid-area: articulosDos;
  }

  #tituloRegistro {
    display: grid;
    grid-area: tituloRegistro;
    text-align: center;
  }

  #formulario {
    display: grid;
    grid-area: formulario;
  }

  .imagenesTamaño {
    width: 90%;
  }
}

/*# sourceMappingURL=destino2.css.map */
