$colorUno: #12293d;
$colorDos: white;
$colorTres: #0c71ca;
// FONDOS
$fondoUno: white;
$fondoDos: black;
$fondoTres: #0c71ca;
$fondoCuatro: #070731;
// Degradados
$gradUno: linear-gradient(#12293d, white);
